<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
<hibernate-configuration>
    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory name="hibernate/sessionFactory">
        <property name="show_sql">true</property>
        <property name="use_outer_join">true</property>
        <property name="hibernate.query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
        <property name="hibernate.jdbc.use_streams_for_binary">true</property>

        <!-- properties for this SessionFactory only -->
        <property name="connection.datasource">java:comp/env/jdbc/task</property>
        <property name="dialect">net.sf.hibernate.dialect.MySQLDialect</property>

        <!-- mapping files -->
        <mapping resource="ch/ess/task/db/Configuration.hbm.xml"/>
        <mapping resource="ch/ess/task/db/Role.hbm.xml"/>
        <mapping resource="ch/ess/task/db/User.hbm.xml"/>
        <mapping resource="ch/ess/task/db/UserRole.hbm.xml"/>
        <mapping resource="ch/ess/task/db/UserConfiguration.hbm.xml"/>        
        <mapping resource="ch/ess/task/db/TextResource.hbm.xml"/> 
        <mapping resource="ch/ess/task/db/Task.hbm.xml"/>   
        <mapping resource="ch/ess/task/db/Priority.hbm.xml"/>   
        <mapping resource="ch/ess/task/db/Project.hbm.xml"/>                           
        <mapping resource="ch/ess/task/db/Status.hbm.xml"/>          
    </session-factory>
</hibernate-configuration>
