a {
	color: #0000FF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a.action {
}

a.menu {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a.menu:visited {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a.menu:hover {
	color: #FF0000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a.tableaction {
}

a:visited {
	color: #0000FF;
}

a:hover {
	color: #000033;
}

a:active {
	color: #0000FF;
}

a.tablecellheader {
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

a.tablecellheader:visited {
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

a.tablecellheader:hover {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

a.tablecellheader:active {
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

b {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}


body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
}

h2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	margin-bottom: 13px;
	margin-top: 0px;
}

h3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}

p {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
}

td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td.tablecell {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td.tablecellaction {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td.tablecellaction b {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

td.tablecellheader {
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

th.tablecellheader {
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

tr.tablerowaction {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

tr.tableroweven {
	background-color: #DEEEFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

tr.tablerowheader {
	background-color: #678ACC;
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

tr.tablerowodd {
	background-color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.error {
	background: #FF0000;
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.filter {
	background-color: #678ACC;
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.header {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.inputform {
	background-color: #678ACC;
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.mandatoryinput {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #678ACC;
	color: #FFFFFF;	
}

.ok {
	background: #008000;
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.optionalinput {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: lighter;
	background-color: #678ACC;
	color: #FFFFFF;	
}

textarea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

input {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: lighter;
}





.titlebig {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder;
}

.titlesmall {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

a.nodecoration {
	color: #000000;
	text-decoration: none;
}
a.nodecoration:visited {
	color: #000000;
	text-decoration: none;
}


table.title {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
    background-color: #DEEEFF;
	color: #000000;	
}

td.small {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	border: 1px solid black;
}

td.smallholiday {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	border: 1px solid black;
	background: #FFD700;
}

td.smalltoday {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	border: 1px solid black;
	background: Lime;
}


td.smaller {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	border: 1px solid black;
}

td.smallerholiday {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	border: 1px solid black;
	background: #FFD700;	
}

td.smallertoday {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	border: 1px solid black;
	background: Lime;	
}

td.b {
  border: 1px solid black;
}

td.bt {
  border: 1px solid black;
  border-bottom: 1px solid Lime;	
}

td.bh {
  border: 1px solid black;  
  border-bottom: 1px solid #FFD700;	
}

table.border { 
  border-collapse: collapse;
  border-spacing: 0px;

}
