<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/jee 
                        http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
                        http://www.springframework.org/schema/task
                        http://www.springframework.org/schema/task/spring-task-3.0.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd                        
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-3.0.xsd">

  <context:component-scan base-package="@packageProject@.server" />

  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
    <property name="persistenceUnitName" value="defaultDatabase" />
  </bean>
  
  <bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>
  
  <tx:annotation-driven /> 

  <jee:jndi-lookup id="mailSession" jndi-name="mail/session" />
  
  <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="session" ref="mailSession"/>
  </bean>
  
  <!--  
  <bean id="freemarkerMailConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
    <property name="templateLoaderPath" value="classpath:template/mail" />
  </bean>  
  -->
 
    
  <!-- SCHEDULING -->  

  <!--      
  <bean id="demoJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="demoJob" />
    <property name="targetMethod" value="doIt" />
  </bean>  
    
  <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
    <property name="jobDetail" ref="demoJobDetail" />  
    <property name="startDelay" value="5000" />
    <property name="repeatInterval" value="10000" />
  </bean>
  
  <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="demoJobDetail" />  
    <property name="cronExpression" value="0 0 6 * * ?" /> 
  </bean>    
   
  <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="triggers">
    <list>
      <ref bean="simpleTrigger" />
    </list>
    </property>
  </bean>  

    
  <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" />
   --> 
   
   
  <!-- SECURITY -->
          
  <security:http auto-config='false'>  
    <security:form-login always-use-default-target="true" default-target-url="/@projectNameLowerCase@.html" />
    <security:intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN" />
    <security:logout invalidate-session="true" />
  </security:http>
     
  <security:authentication-provider>
    <security:user-service>
      <security:user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN" />
      <security:user name="user" password="user" authorities="ROLE_USER" />
    </security:user-service>
  </security:authentication-provider>   
          
  <security:global-method-security secured-annotations="enabled" jsr250-annotations="disabled"/>

</beans>
