@font-face {
  font-family: 'custom';
  src: url('../font/custom.eot?55212212');
  src: url('../font/custom.eot?55212212#iefix') format('embedded-opentype'),
       url('../font/custom.woff?55212212') format('woff'),
       url('../font/custom.ttf?55212212') format('truetype'),
       url('../font/custom.svg?55212212#custom') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'custom';
    src: url('../font/custom.svg?55212212#custom') format('svg');
  }
}
*/