
<Context>

  <Resource name="jdbc/cal" auth="Container"
            factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
            type="javax.sql.DataSource" username="sa" password="papa8gei."
            driverClassName="net.sourceforge.jtds.jdbc.Driver"
            url="jdbc:jtds:sqlserver://localhost/cal"
            initialSize="2"
            minIdle="2"
            maxIdle="4"
            maxActive="10" maxWait="10000"
            defaultAutoCommit="false"/>

  <Environment name="app/indexDir" value="e:/temp/cal" type="java.lang.String" override="false"/>

</Context>
