<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
	"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<context-param>
		<param-name>imageDirectory</param-name>
		<param-value>c:/temp/images</param-value>
	</context-param>

  <listener>
    <listener-class>ch.ess.sonne.server.ApplicationConextListener</listener-class>
  </listener>

	<servlet>
		<servlet-name>Sonne Service</servlet-name>
		<servlet-class>ch.ess.sonne.server.PictureServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Sonne Img Service</servlet-name>
		<servlet-class>	ch.ess.sonne.server.ShowPictureServlet</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>Sonne Service</servlet-name>
		<url-pattern>/ws</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Sonne Img Service</servlet-name>
		<url-pattern>/img/*</url-pattern>
	</servlet-mapping>

</web-app>
