$tab-base-color-active: mix(#fff, $base-highlight-color, 10%) !default;
$tab-base-color: $base-light-color !default;

$tab-color-active: #fff !default;
$tab-color: $base-color !default;
$tab-color-over: #fff !default;