<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="placeholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:/app.properties</value>
		</property>
	</bean>
   
   <bean id="ticketHolder" class="ch.ess.blankrc.remote.support.TicketHolder"/>
   
   <bean id="echoService" class="ch.ess.blankrc.remote.support.HessianClientTicketFactory">
     <property name="ticketHolder"><ref local="ticketHolder"/></property>
   	 <property name="serviceInterface"><value>ch.ess.blankrc.remote.EchoService</value></property>
   	 <property name="serviceUrl"><value>${base.url}/caucho/echo</value></property>   	
   </bean>
   
   <bean id="logonService" class="ch.ess.blankrc.remote.support.HessianClientTicketFactory">
   	 <property name="serviceInterface"><value>ch.ess.blankrc.remote.LogonService</value></property>
   	 <property name="serviceUrl"><value>${base.url}/caucho/logon</value></property>   	
   </bean>
   
 															
</beans>
