<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Travels
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher (ionRefresh)="refresh($event)" [pullFactor]="0.6" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="travels$ | async as travels">
    <ion-list lines="full">
      <ion-item *ngFor="let travel of travels" [detail]="true" routerLink="./edit/{{travel.id}}">
        <ion-label>{{travel.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button routerDirection="forward" routerLink="./edit">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
