<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/applicationContext.xml</param-value>
  </context-param>

  <listener>
    <listener-class>ch.ralscha.mycustomers.server.Slf4jBridgeInstaller</listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>


  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  
  <servlet>
    <servlet-name>springGwtRemoteServiceServlet</servlet-name>
    <servlet-class>ch.ralscha.mycustomers.server.SpringGwtRemoteServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>springGwtRemoteServiceServlet</servlet-name>
    <url-pattern>/mycustomers/springGwtServices/*</url-pattern>
  </servlet-mapping>
  
  <!--STARTPRODONLY
  <resource-ref>
    <description>Primary Data Source</description>
    <res-ref-name>jdbc/mycustomers</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  ENDPRODONLY-->
  
</web-app>
