<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="no" default-dependency-check="none"
	default-lazy-init="false"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	xmlns="http://www.springframework.org/schema/beans">

	<bean autowire="byType" class="ch.ess.base.dao.TextResourceDao"
		id="textResourceDao" />
	<bean autowire="byType" class="ch.ess.base.dao.ConfigurationDao"
		id="configurationDao" />
	<bean autowire="byType" class="ch.ess.base.service.AppConfig"
		id="appConfig" init-method="initialize" />
</beans>