<table width="100%">
<tr>
<td align=center width="20%"><h1><img src="lotto.gif" align="texttop" width=181 height=63 border=0></h1></td>
<td align=center width="60%"><h2>Schweizer Zahlenlotto</h2></td>
<td align=center width="20%"><h4>%%datelong%%</h4></td>
</tr>
</table>
</body>
</html>
