<h2>Paare<br>
<font size="3">alle Ziehungen</font></h2>
alle Ziehungen<BR>
<a href="paar42.html">ab Ziehung Nr. 14/1979 (Einf&uuml;hrung von 41 und 42)</a><BR>
<a href="paar45.html">ab Ziehung Nr. 1/1986 (Einf&uuml;hrung von 43, 44 und 45)</a><BR>
<a href="paarz97.html">ab Ziehung Nr. 1/1997 (Einf&uuml;hrung Mittwochsziehung)</a>

