.appHeader .x-panel-body {
	background-color: transparent;
	background-image: url(../images/Shape-Cube-24.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	padding: 1px 0px 0px 30px;
	border: none;
	color: black;
	font-size: 22px;
	font-weight: 200;
	white-space: nowrap;
}

.userName {
	font-size: 12px;
	font-weight: bold;
	color: #BFBFBF;
	text-align: right;
	padding-right: 5px;
}

.monospace {
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}