body {
	background-color: #bfbfbf;
}

.x-body {
	background-color: #bfbfbf;
}

.appHeader {
	padding: 8px 0px 0px 5px;
	font-size: 22px;
	font-weight: 200;
}

.monospace {
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
} 