$base-color: #38A553 !default;
//$font-size: 14px !default;
//$font-family: "Cabin",Helvetica,Arial sans-serif !default;
$base-highlight-color: mix(#fff, $base-color, 15%) !default;
$base-light-color: mix(#fff, $base-color, 65%) !default;