<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Request Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #resetRequestForm="ngForm" (ngSubmit)="resetRequestForm.valid && resetRequest(email.value)" *ngIf="!resetSent"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-grid>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text class="ion-margin-top">
            <p>We will send you an email with a link to reset your password. Please fill in your email address.</p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item class="ion-margin-top">
            <ion-input #email="ngModel" [required]="true" [spellcheck]="false" autocapitalize="off"
                       autocomplete="username"
                       email
                       label="Email" labelPlacement="stacked"
                       name="email" ngModel type="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text *ngIf="resetRequestForm.submitted && email.invalid" color="danger">
            <p *ngIf="email.errors.required" class="ion-padding-start">
              Email is required
            </p>
            <p *ngIf="email.errors.email" class="ion-padding-start">
              Not a valid email address
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-button expand="block" type="submit">Request Password Reset</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  <ion-grid *ngIf="resetSent" class="ion-margin-top">
    <ion-row>
      <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
        <ion-text>
          <p>We sent you an email with a link</p>
          <p><strong>Please check your inbox and click on the link.</strong></p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
