<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TravelLog</title>
  <base href="/">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/icon-128x128.png" rel="icon" sizes="128x128" type="image/png"/>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZjJ216B4aJGdXTwXNevmXesob9RUSlPc"></script>
</head>
<body class="mat-typography">
<app-root></app-root>
</body>
</html>
